@import 'ext/fonts';
@import 'ext/normalize';
@import 'syntax';

$meCenterLeft: 50%; // 336px;
$meCenterTop: 50%; // 163px;

$rorTime: 8s;
$fastapiTime: 10s;
$djangoTime: 12s;

$pythonTime: 10s;
$rubyTime: 7s;
$goTime: 13s;
$javascriptTime: 16s;

$dockerTime: 7s;
$k8sTime: 13s;

$awsTime: 8s;
$gcpTime: 14s;

$frameworkRadius: 180px;
$languageRadius: 125px;
$infrastructureRadius: 90px;
$cloudRadius: 50px;

#skills-canvas {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%; // 830px;
  border: none;
  margin: 0 auto;
  height: 450px;
  overflow: hidden;
}

#me {
  position: absolute;
  left: $meCenterLeft;
  top: $meCenterTop;
  font-size: 50px;
}

.skill {
  width: 30px;
  border-radius: 50%;
  position: absolute;
  left: $meCenterLeft;
  top: $meCenterTop;
}

.skill-ror {
  -webkit-animation: framework $rorTime linear infinite; /* Chrome, Safari 5 */
     -moz-animation: framework $rorTime linear infinite; /* Firefox 5-15 */
       -o-animation: framework $rorTime linear infinite; /* Opera 12+ */
          animation: framework $rorTime linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */
}

.skill-fastapi {
  -webkit-animation: framework $fastapiTime linear infinite; /* Chrome, Safari 5 */
     -moz-animation: framework $fastapiTime linear infinite; /* Firefox 5-15 */
       -o-animation: framework $fastapiTime linear infinite; /* Opera 12+ */
          animation: framework $fastapiTime linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */
}

.skill-django {
  -webkit-animation: framework $djangoTime linear infinite; /* Chrome, Safari 5 */
     -moz-animation: framework $djangoTime linear infinite; /* Firefox 5-15 */
       -o-animation: framework $djangoTime linear infinite; /* Opera 12+ */
          animation: framework $djangoTime linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */
}

.skill-python {
  -webkit-animation: language $pythonTime linear infinite; /* Chrome, Safari 5 */
     -moz-animation: language $pythonTime linear infinite; /* Firefox 5-15 */
       -o-animation: language $pythonTime linear infinite; /* Opera 12+ */
          animation: language $pythonTime linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */
}
.skill-ruby {
  -webkit-animation: language $rubyTime linear infinite; /* Chrome, Safari 5 */
     -moz-animation: language $rubyTime linear infinite; /* Firefox 5-15 */
       -o-animation: language $rubyTime linear infinite; /* Opera 12+ */
          animation: language $rubyTime linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */
}
.skill-go {
  -webkit-animation: language $goTime linear infinite; /* Chrome, Safari 5 */
     -moz-animation: language $goTime linear infinite; /* Firefox 5-15 */
       -o-animation: language $goTime linear infinite; /* Opera 12+ */
          animation: language $goTime linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */
}
.skill-javascript {
  -webkit-animation: language $javascriptTime linear infinite; /* Chrome, Safari 5 */
     -moz-animation: language $javascriptTime linear infinite; /* Firefox 5-15 */
       -o-animation: language $javascriptTime linear infinite; /* Opera 12+ */
          animation: language $javascriptTime linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */
}

.skill-docker {
  -webkit-animation: infrastructure $dockerTime linear infinite; /* Chrome, Safari 5 */
     -moz-animation: infrastructure $dockerTime linear infinite; /* Firefox 5-15 */
       -o-animation: infrastructure $dockerTime linear infinite; /* Opera 12+ */
          animation: infrastructure $dockerTime linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */
}
.skill-k8s {
  -webkit-animation: infrastructure $k8sTime linear infinite; /* Chrome, Safari 5 */
     -moz-animation: infrastructure $k8sTime linear infinite; /* Firefox 5-15 */
       -o-animation: infrastructure $k8sTime linear infinite; /* Opera 12+ */
          animation: infrastructure $k8sTime linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */
}

.skill-aws {
  -webkit-animation: cloud $awsTime linear infinite; /* Chrome, Safari 5 */
     -moz-animation: cloud $awsTime linear infinite; /* Firefox 5-15 */
       -o-animation: cloud $awsTime linear infinite; /* Opera 12+ */
          animation: cloud $awsTime linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */
}
.skill-gcp {
  -webkit-animation: cloud $gcpTime linear infinite; /* Chrome, Safari 5 */
     -moz-animation: cloud $gcpTime linear infinite; /* Firefox 5-15 */
       -o-animation: cloud $gcpTime linear infinite; /* Opera 12+ */
          animation: cloud $gcpTime linear infinite; /* Chrome, Firefox 16+, 
                                                    IE 10+, Safari 5 */
}


/*
* Set up the keyframes to actually describe the begining and end states of 
* the animation.  The browser will interpolate all the frames between these 
* points.  Again, remember your vendor-specific prefixes for now!
*/
@-webkit-keyframes framework {
  from { -webkit-transform: rotate(0deg) translateX($frameworkRadius) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX($frameworkRadius) rotate(-360deg); }
}

@-moz-keyframes framework {
  from { -moz-transform: rotate(0deg) translateX($frameworkRadius) rotate(0deg); }
  to   { -moz-transform: rotate(360deg) translateX($frameworkRadius) rotate(-360deg); }
}

@-o-keyframes framework {
  from { -o-transform: rotate(0deg) translateX($frameworkRadius) rotate(0deg); }
  to   { -o-transform: rotate(360deg) translateX($frameworkRadius) rotate(-360deg); }
}

@keyframes framework {
  from { transform: rotate(0deg) translateX($frameworkRadius) rotate(0deg); }
  to   { transform: rotate(360deg) translateX($frameworkRadius) rotate(-360deg); }
}

@-webkit-keyframes language {
  from { -webkit-transform: rotate(0deg) translateX($languageRadius) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX($languageRadius) rotate(-360deg); }
}

@-moz-keyframes language {
  from { -moz-transform: rotate(0deg) translateX($languageRadius) rotate(0deg); }
  to   { -moz-transform: rotate(360deg) translateX($languageRadius) rotate(-360deg); }
}

@-o-keyframes language {
  from { -o-transform: rotate(0deg) translateX($languageRadius) rotate(0deg); }
  to   { -o-transform: rotate(360deg) translateX($languageRadius) rotate(-360deg); }
}

@keyframes language {
  from { transform: rotate(0deg) translateX($languageRadius) rotate(0deg); }
  to   { transform: rotate(360deg) translateX($languageRadius) rotate(-360deg); }
}


@-webkit-keyframes infrastructure {
  from { -webkit-transform: rotate(0deg) translateX($infrastructureRadius) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX($infrastructureRadius) rotate(-360deg); }
}

@-moz-keyframes infrastructure {
  from { -moz-transform: rotate(0deg) translateX($infrastructureRadius) rotate(0deg); }
  to   { -moz-transform: rotate(360deg) translateX($infrastructureRadius) rotate(-360deg); }
}

@-o-keyframes infrastructure {
  from { -o-transform: rotate(0deg) translateX($infrastructureRadius) rotate(0deg); }
  to   { -o-transform: rotate(360deg) translateX($infrastructureRadius) rotate(-360deg); }
}

@keyframes infrastructure {
  from { transform: rotate(0deg) translateX($infrastructureRadius) rotate(0deg); }
  to   { transform: rotate(360deg) translateX($infrastructureRadius) rotate(-360deg); }
}


@-webkit-keyframes cloud {
  from { -webkit-transform: rotate(0deg) translateX($cloudRadius) rotate(0deg); }
  to   { -webkit-transform: rotate(360deg) translateX($cloudRadius) rotate(-360deg); }
}

@-moz-keyframes cloud {
  from { -moz-transform: rotate(0deg) translateX($cloudRadius) rotate(0deg); }
  to   { -moz-transform: rotate(360deg) translateX($cloudRadius) rotate(-360deg); }
}

@-o-keyframes cloud {
  from { -o-transform: rotate(0deg) translateX($cloudRadius) rotate(0deg); }
  to   { -o-transform: rotate(360deg) translateX($cloudRadius) rotate(-360deg); }
}

@keyframes cloud {
  from { transform: rotate(0deg) translateX($cloudRadius) rotate(0deg); }
  to   { transform: rotate(360deg) translateX($cloudRadius) rotate(-360deg); }
}