---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

<!-- {%- if site.experiences.size > 0 -%} -->
<ul class="posts">
	<li>
		<h1 id="posts-label">Experience</h1>
	</li>

	<!-- <li>
		<a class="post-link">
			<h2 class="post-title">Technical lead</h2>
		</a>
		Company: <a class="post-link" href=""> <b>Fiahub</b> </a>
		<br><br>
		<div class="post-meta">
			<div class="post-date"><i class="icon-calendar"></i>Apr 2022 - Present </div>
		</div>
		<div class="post">
			<p>• Responsible for reliability, scalability, high availability, maintainability, and performance of released products.</p>
			<p>• Responsible for design and implement low latency systems such as news based trading bots.</p>
			<p>• Assisted a multitude of development/data teams with observability, cloud, CI/CD, and fulfilled other ad-hoc requests as needed.</p>
		</div>
	</li> -->

	<li>
		<a class="post-link">
			<h2 class="post-title">Senior Software Engineer</h2>
		</a>
		Company: <a class="post-link" href=""> <b>Fiahub</b> </a>
		<br><br>
		<div class="post-meta">
			<div class="post-date"><i class="icon-calendar"></i>Sep 2020 - Present</div>
			<!-- <ul class="post-categories">
				{%- for tag in experience.categories -%}
				<li>{{ tag }}</li>
				{%- endfor -%}
			</ul> -->
		</div>
		<div class="post">
			<!-- {%- if site.show_excerpts -%}
			{{ experience.excerpt }}
			{%- endif -%} -->
			<p>• Have responsibility for designing and implementing modules related to blockchains and crypto currencies.</p>
			<p>• Have strong technical skills and abilities for implementing and leading teams to move forward.</p>
			<p>• Have experience to design and develop web3 applications for internal systems.</p>
			<p>• Responsible for reliability, scalability, high availability, maintainability, and performance of released products.</p>
			<p>• Responsible for design and implement low latency systems such as news based trading bots.</p>
			<p>• Assisted a multitude of development/data teams with observability, cloud, CI/CD, and fulfilled other ad-hoc requests as needed.</p>
		</div>
	</li>

	<li>
		<a class="post-link">
			<h2 class="post-title">Software Engineer</h2>
		</a>
		Company: <a class="post-link" href=""> <b>Unicen SMU Labs</b> </a>
		<br><br>
		<div class="post-meta">
			<div class="post-date"><i class="icon-calendar"></i>Apr 2018 - Oct 2020</div>
			<!-- <ul class="post-categories">
				{%- for tag in experience.categories -%}
				<li>{{ tag }}</li>
				{%- endfor -%}
			</ul> -->
		</div>
		<div class="post">
			<!-- {%- if site.show_excerpts -%}
			{{ experience.excerpt }}
			{%- endif -%} -->
			<p>• Take responsibility to develop systems based on researching ideas for demonstration purposes.</p>
			<p>• Cooperating with team including Professors, PhD students, research assistants to research, to develop and integrate the whole modules work together as a system.</p>
		</div>
	</li>

	<li>
		<a class="post-link">
			<h2 class="post-title">Software Engineer</h2>
		</a>
		Company: <a class="post-link" href=""> <b>Quoinex</b> </a>
		<br><br>
		<div class="post-meta">
			<div class="post-date"><i class="icon-calendar"></i>Mar 2017 - Apr 2018</div>
			<!-- <ul class="post-categories">
				{%- for tag in experience.categories -%}
				<li>{{ tag }}</li>
				{%- endfor -%}
			</ul> -->
		</div>
		<div class="post">
			<!-- {%- if site.show_excerpts -%}
			{{ experience.excerpt }}
			{%- endif -%} -->
			<p>• Integrate over 20 crypto currencies into Quoine exchanges, QuoineX and Qryptos such as Bitcoin, Ethereum, XRP, XLM, DASH, XRM, IOTA,...</p>
			<p>• Organzine structure wallets to ensure accuracy and security for deposit/withdraw.</p>
		</div>
	</li>

	<li>
		<a class="post-link">
			<h2 class="post-title">Software Engineer</h2>
		</a>
		Company: <a class="post-link" href=""> <b>Emichat</b> </a>
		<br><br>
		<div class="post-meta">
			<div class="post-date"><i class="icon-calendar"></i>Mar 2015 - Jan 2017</div>
			<!-- <ul class="post-categories">
				{%- for tag in experience.categories -%}
				<li>{{ tag }}</li>
				{%- endfor -%}
			</ul> -->
		</div>
		<div class="post">
			<!-- {%- if site.show_excerpts -%}
			{{ experience.excerpt }}
			{%- endif -%} -->
			<!-- <p>• Responsible for reliability, scalability, high availability, maintainability, and performance of released products.</p>
			<p>• Responsible for design and implement low latency systems such as news based trading bots.</p>
			<p>• Assisted a multitude of development/data teams with observability, cloud, CI/CD, and fulfilled other ad-hoc requests as needed.</p> -->
			<p>• Analyzing new ideas and building minimum viable products such as product recommendation engines, emotion classify for chatting applications, image processing and address segmentation.</p>
			<p>• Proposing strategies, statistical methods, and cooperating with researcher to build AI-based applications.</p>
			<p>• Developed web applications as full-stack developer.</p>
		</div>
	</li>

	<!-- {%- for experience in site.experiences -%}
	<li>
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		<a class="post-link" href="{{ experience.url | relative_url }}">
			<h2 class="post-title">{{ experience.title | escape }}</h2>
		</a>
    Company: <a class="post-link" href="{{ experience.company_url | relative_url }}">
      <b>{{ experience.company | escape }}</b>
    </a>
    <br><br>
		<div class="post-meta">
			<div class="post-date"><i class="icon-calendar"></i>{{ experience.from_date | date: date_format }} - {{ experience.to_date | date: date_format }}</div>
			<ul class="post-categories">
				{%- for tag in experience.categories -%}
				<li>{{ tag }}</li>
				{%- endfor -%}
			</ul>
		</div>
		<div class="post">
			{%- if site.show_excerpts -%}
			{{ experience.excerpt }}
			{%- endif -%}
		</div>
	</li>
	{%- endfor -%} -->
</ul>

<!-- {%- endif -%} -->
