---
layout: default
title: Home
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}
<!-- <h1 class="page-heading">Home</h1> -->

<!-- {{ content }} -->

<div class="post-container">
	<h2>Hi there!</h2>
	<p>I'm <b>Le Phi Thong</b> 👋 a software developer from Vietnam. 🇻🇳</p>

	<p>As <b>a fullstack developer</b>, I have been building whole projects from backend to frontend.</p>
	<p>As <b>a backend developer</b>, I have been building distributed systems that exhibit reliability, scalability, high availability, and exceptional performance. 🌎</p>
	<p>As <b>a devops engineer</b>, I have been configurated CI/CD, setup enviroments for deploying and monitoring on clouds.</p>
	<p>I like to build things with distributed systems, blockchain/smart contracts, AI. 🤖</p>


	<div id="skills-canvas">
		<span id="me">🧑‍💻</span>
		<img class="skill ror" src="{{ "/assets/images/ror.png" | relative_url }}">
		<img class="skill fastapi" src="{{ "/assets/images/fastapi.svg" | relative_url }}">
		<img class="skill django" src="{{ "/assets/images/django.png" | relative_url }}">

		<img class="skill python" src="{{ "/assets/images/python.png" | relative_url }}">
		<img class="skill ruby" src="{{ "/assets/images/ruby.png" | relative_url }}">
		<img class="skill javascript" src="{{ "/assets/images/javascript.png" | relative_url }}">
		<img class="skill go" src="{{ "/assets/images/go1.png" | relative_url }}">

		<img class="skill docker" src="{{ "/assets/images/docker.png" | relative_url }}">
		<img class="skill k8s" src="{{ "/assets/images/k8s.png" | relative_url }}">

		<img class="skill gcp" src="{{ "/assets/images/gcp.png" | relative_url }}">
		<img class="skill aws" src="{{ "/assets/images/aws.jpg" | relative_url }}">
	</div>

	<br>
	<h2>You can find me on</h2>

	<p>GitHub as <a class="post-link" href="https://github.com/lpthong90"><b>@lpthong90</b></a></p>
	<p>LinkedIn as <a class="post-link" href="https://www.linkedin.com/in/lpthong90/"><b>@lpthong90</b></a></p>
	<p>Email me with <a class="post-link" href="mailto:{{ site.email }}"><b>{{ site.email }}</b></a></p>
	<p>💬   Ask me anything <a class="post-link" href="https://github.com/lpthong90/lpthong90/issues/1"><b>here</b></a>! I am happy to help.</p>
</div>


<!-- {%- if site.posts.size > 0 -%}
<ul class="posts">
	{%- for post in site.posts -%}
	<li>
		<h1 id="posts-label">posts</h1>
	</li>
	<li>
		{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
		<a class="post-link" href="{{ post.url | relative_url }}">
			<h2 class="post-title">{{ post.title | escape }}</h2>
		</a>
		<div class="post-meta">
			<ul class="post-categories">
				{%- for tag in post.categories -%}
				<li>{{ tag }}</li>
				{%- endfor -%}
			</ul>
			<div class="post-date"><i class="icon-calendar"></i>{{ post.date | date: date_format }}</div>
		</div>
		<div class="post">
			{%- if site.show_excerpts -%}
			{{ post.excerpt }}
			{%- endif -%}
		</div>
	</li>
	{%- endfor -%}
</ul> -->

 <!-- <p class="feed-subscribe"><svg class="svg-icon orange">
		<use xlink:href="{{ '/assets/minima-social-icons.svg#rss' | relative_url }}"></use>
	</svg><a href="{{ "/feed.xml" | relative_url }}">Subscribe</a></p> -->
	{%- endif -%}

