---
layout: default
---

{%- if page.title -%}
<h1 class="page-heading">{{ page.title }}</h1>
{%- endif -%}

{{ content }}

{%- if site.libs.size > 0 -%}
<div class="posts">
	<div>
		<h1 id="posts-label">Libraries</h1>
	</div>
	<div>
		<div class="button-group filters-button-group">
			<button class="button is-checked" data-filter="*">All</button>
			<button class="button" data-filter=".python">Python</button>
			<button class="button" data-filter=".ruby">Ruby</button>
		</div>

		<div class="grid">
			{%- for lib in site.libs -%}
				<div class="element-item {{ lib.category_classes }}">
					<a class="post-link" href="{{ lib.url | relative_url }}">
						<h2 class="post-title">
							{%- if lib.logo_url -%}
								<img class="lib-logo" src="{{ lib.logo_url | relative_url }}" alt="{{ lib.title | escape }}">
							{%- endif -%}
							<span> {{ lib.title | escape }}</span></h2>
					</a>

					<p>
						{%- if lib.repo_url -%}
						Repo: <a href="{{ lib.repo_url }}">
							<b>{{ site.plainwhite.social_links.github }}/{{ lib.repo_name | escape }}</b>
						</a>
						{%- endif -%}
					</p>

					<div class="post-meta">
						<div class="post-date"></div>
						<ul class="post-categories">
							{%- for tag in lib.categories -%}
							<li>{{ tag }}</li>
							{%- endfor -%}
						</ul>
					</div>

					<div class="post">
						{%- if site.show_excerpts -%}
						{{ lib.excerpt }}
						{%- endif -%}
					</div>

				</div>
			{%- endfor -%}
		</div>
</div>

{%- endif -%}

<script src="http://code.jquery.com/jquery-3.1.0.min.js" integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" crossorigin="anonymous"></script>
<script src="https://unpkg.com/isotope-layout@3.0/dist/isotope.pkgd.js"></script>
<script>
	// external js: isotope.pkgd.js

	// init Isotope
	var $grid = $('.grid').isotope({
		itemSelector: '.element-item',
		layoutMode: 'vertical'
	});
	// bind filter button click
	$('.filters-button-group').on( 'click', 'button', function() {
		var filterValue = $( this ).attr('data-filter');
		$grid.isotope({ filter: filterValue });
	});
	// change is-checked class on buttons
	$('.button-group').each( function( i, buttonGroup ) {
		var $buttonGroup = $( buttonGroup );
		$buttonGroup.on( 'click', 'button', function() {
			$buttonGroup.find('.is-checked').removeClass('is-checked');
			$( this ).addClass('is-checked');
		});
	});
</script>